@import 'main';
@import 'common/button';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

.title {
	color: #FFFFFF;
}

body {
	margin: 0;
}

nav {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	height: 130px;
	width: 100%;
    background-color: white;
    box-shadow: -1px 2px 5px #bec2c5;
    position: fixed;
    top: 0;
}

.navEl {
	height: inherit;
	width: 74%;
	display: flex;
    align-items: center;
    position: relative;
}

.pathway {
	height: inherit;
    align-items: center;
    display: flex;
    font-size: 1.4em;
}

.options {
	width: 675px;
	display: flex;
	position: absolute;
	right: 0;
	justify-content: space-around;
	font-size: 0.6em;
	justify-content: space-between;
	font-size: 1em;
	height: inherit;
	align-items: center;
}

.notif {
	width: 24px;
	height: 42px;
	fill: grey;

	transition: fill 0.3s ease-in-out;
	-webkit-transition: fill 0.3s ease-in-out;
	position: relative;
}

.notifBox {
	width: 190px;
    border-radius: 5px;
    padding: 18px;
    max-height: 200px;
    background-color: white;
    position: absolute;
    top: 100px;
    right: 20px;
    box-shadow: 1px 3px 18px #969595;
}

.notifContent ul{
	list-style-type: none;
	padding-left: 0px;
	overflow: scroll; // for some reason this line makes the arrow disappear
}

.notifArrow {
	position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    top: -15px;
    right: 59px;
}

.notif:hover{
	fill: #006AC3;
}

.profile {
	height: 32px;
}

.pages {
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
  margin-bottom: 0.4em;
  font-size: 0.9em;
}

h2 a {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	color: #333333;
}

h2 a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #006AC3;
	top: 33px;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	// transition in the line scaling
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	
}

h2 a:hover{
	color:#006AC3;
}

h2 a:hover:before {
	visibility: visible;
	transform:scaleX(1);
}

.modalContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	color: #333333 !important;
}

.modalFrame {
	width: 50%;
	height: 63vh;
	background: #FFFFFF;
    box-shadow: 3px 4px 10px rgba(79, 79, 79, 0.43);
    border-radius: 10px;
    z-index: 1;
    text-align:center;
}

.modalFrame > button {
	padding: 10px 42px 9px;
    border-radius: 24px;
    color: white;
	background-color: #006AC3;
    border: none;
    margin-top:15%;
    font-size: 15px;
    font-weight: 100;
}

.modalFrame > p a {
	text-decoration: none;
	text-decoration: underline;
	font-size: 14px;
}

.welcome {
	padding-top: 5%;
	font-weight: 100;
}

.intro {
	padding-left: 10%;
    padding-right: 10%;
    font-size: 13px;
}

a {
	color: #56CCF2; 
  cursor: pointer;
}

html{
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}

body{
	width: 74%;
	height: 100%;
	margin: 0;
	background-color: #FFFFFF;
	margin: 0 13% 0 13%;
	color: #333333;
}

h1{
	font-family: 'Roboto', sans-serif;
	text-align: left;
	color: #333333;
	font-weight: 300;
}

h2{
	font-family: 'Roboto', sans-serif;
	text-align: left;
	color: #828282;
	font-weight: 300;
	font-size: 0.8em;
	margin-top: 0;
  margin-bottom: 1em;
}


p{
	font-family: 'Roboto', sans-serif;
	text-align: left;
	font-size: 0.85em;
	color: #333333;
}
.AppBody{
    background-color: #FFFFFF;
    width: 74%;
    height: 100%;
    position: absolute;
    margin-top: 160px;
}

.Nav{
	background-color: #FFFFFF;
	position: fixed;
    height: 15vh;
    width: 74%;
    top: 0;
}

.cardView{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cardContent{
	padding: 5%;
	padding-left: 6%;
/* 	height: 87%; */
}

.card{
position: relative;
    width: 30%;
    text-align: center;
    /* min-height: 28vh; */
    border: 1px solid #E5E5E5;
    /* margin-left: 3%; */
    margin-bottom: 5%;
    border-radius: 5px;
    -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
    height: fit-content;
    /* min-height: 20%; */
    /* max-height: 27%; */
    /* margin-right: 3%; */
    /* height: 20%; */
}

.pad{
	padding-left: 1px;
	padding-right: 2px;
}

.cardTitle{
	font-size: 1.2em;
    font-weight: 300;
    margin-top: 2%;
}

.peopleFaces{
	display: flex;
	justify-content: flex-start;
  margin-bottom: 2%;
}

.cardDescription{
	min-height: 40%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
    margin-top: 9%;
    margin-bottom: 9%;
}

.uploadTitle{
	font-size: 0.9em;
	margin-top: 0;
	margin-bottom: 0;
}

.link{
	color: #56CCF2;
	font-family: 'roboto';
	text-align: left;
    font-size: 0.8em;
}

.exit{
    position: absolute;
    fill: #767676;
    right: 10px;
    cursor: pointer;
    transition: fill 0.2s linear;
    top: 10px;
}

.exit:hover{
	fill: #BDBDBD;
	transition: none;
}

.button{
    position: relative;
    padding: 2.5% 10% 2.5% 10%;
    background-color: #C4C4C4;
    border-radius: 35px;
    color: white;
    font-size: 0.9em;
    font-family: 'roboto';
    color: #F7F3F3;
    font-weight: 100;
    transition: background-color 0.2s linear;
    cursor: pointer;
    width: 40%;
    text-align: center;
    margin: 0 3% 0 0;
}


.buttonClicked{
  background-color: #0D78D2;
}

.docLinks{
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  text-align: left;
  line-height: 1.5em;
}






















/* .button:active{
  background-color: #0D78D2;
}
 */

.createStep{
    position: relative;
    width: 10%;
}

.buttonGroup{
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-top: 1.5em;
}

.viewTree{
	position: absolute;
    right: 5%;
    bottom: 5%;
    padding: 2% 10% 2% 10%;
    background-color: #0D78D2;
    border-radius: 35px;
    color: white;
    font-size: 0.9em;
    font-family: 'roboto';
    color: #F7F3F3;
    font-weight: 100;
    transition: background-color 0.2s linear;
    cursor: pointer;
}

.viewTree:hover{
	background-color: #56CCF2;
	transition: none;
}

.welcomeTitle{
	margin-bottom: 0.6%;
}

.welcomeDescription{
	width: 60%;
	margin-bottom: 5%;
  line-height: 1.6em;
}

.suggestedProjects{
	 font-size: 1.5em;
    margin-bottom: 4%;
    margin-top: 7%;
}

.treeContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 15%;
}

.Created{
      text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
    padding: 1em 2em 1em 2em;
    background-color: white;
    /* margin-bottom: 7.5%; */
}

.treeContent{
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}


.backgroundDark{
  background-color: rgba(0,0,0,0.45);
  position: fixed;
  height: 100vh;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100vw;
}

.methodLine{
  position: absolute;
  width: 50%;
  background-color: #333333;
  height: 1px;
  top: 10%;
}

.modal{
    background-color: white;
    position: fixed;
    top: 10vh;
    left: 30vw;
    padding: 1.2vh 3vw 3.2vh 3vw;
    overflow: auto;
    height: 80vh;
    width: 33vw;
    border-radius: 5px;
    -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.step{
    color: #333333;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.stage{
  box-sizing: border-box;
  width: 100%;
  height: 15%;
  -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: white;
  padding: 0.3em 2em 0.3em 2em;
  position: relative;
  margin: 10% 0 15% 0;
}


.add {
    cursor: pointer;
    margin: 5% 0 0% 0;
    z-index: 1;
    font-family: 'roboto';
    font-weight: 100;
    font-size: 1.5em;
    background-color: #2F80ED;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    color: white;
}
.stageTitle{
    font-size: 1.4em;
    margin: 0.5em 2em 0.5em 0;
    display: inline-block;
}

.stageText{
    width: 60%;
    margin-top: 0em;
    display: inline-block
}

.noMargin{
  margin-top: 0;
  margin-bottom: 0.3em;
  font-size: 1.3em;
}

.bottomStage{
  display: flex
}

.stageItems{
    color: rgb(86, 204, 242);
    list-style-type: none;
    font-family: roboto;
    font-weight: 300;
    font-size: 0.8em;
        display: inline-block;
    /* float: right; */
    position: relative;
    /* right: 30%; */
    /* top: 40%; */
    margin-top: -0.5em;
}

.tag{
    background-color: #C4C4C4;
    display: inline;
    padding: 0.4em 1em;
    border-radius: 13px;
    font-family: 'roboto';
    font-size: 0.6em;
    font-weight: lighter;
    position: relative;
    z-index: 2;
    color: white;
        margin-left: 3em;
}

.topContent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}




.privacySetting{
  margin: 4% 0 2% 0;
}

.privacy{
      border-radius: 5px;
    font-family: roboto;
    width: 100%;
}

.group 			  { 
	position: relative;
    margin-bottom: 5%;
    margin-top: 5%;
}
input {
     font-size: 18px;
    padding: 8px 0px 8px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 	{
  color:#999; 
  font-size:14px;
  font-weight:300;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  font-family: 'roboto'
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-13px;
  font-size:11px;
  color:#0D78D2;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#0D78D2; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.newStepForm{
  margin-top: 6%;
}

.gallery{
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

.uploadImage{
    width: 34%;
    height: 17%;
    position: relative;
    border: 1px #C4C4C4 solid;
    margin-top: 4%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload{
      height: 30%;
    width: 30%;
}

.blue{
  color: #0D78D2;
}

.finishButton{
    width: 60%;
    display: flex;
    /* right: 0; */
    /* position: relative; */
    /* justify-content: flex-end; */
    float: right;
    margin-top: 6%;
}

.backblue{
  background-color: #0D78D2;
}

.line{
    width: 1px;
    height: 99%;
    /* left: 50%; */
    position: absolute;
    background-color: #333333;
    top: 0;
}

.method{
    display: block;
    width: 35%;
    /* height: 35%; */
    background-color: white;
    -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.25);
    padding: 1% 2% 1% 2%;
    position: relative;
    clear: both;
    z-index: 2;
}

.methodContainer{
      position: relative;
    display: flex;
    background: transparent;
}

.methodContainer:nth-child(even){
  justify-content: flex-start;
}

.methodContainer:nth-child(odd){
  justify-content: flex-end;
  bottom: 60px;
}
.methodTitle{
  font-size: 1.2em;
  display: inline;
}

.inquiry{
    font-family: 'roboto';
    font-size: 0.8em;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    text-align: center;
    padding: 0.3em;
    color: white;
    background-color: #F2C94C;
    margin-left: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonMethod{
      position: relative;
    padding: 2.5% 3% 2.5% 3%;
    background-color: white;
    border-radius: 35px;
    color: white;
    font-size: 0.8em;
    font-family: 'roboto';
    color: #F7F3F3;
    font-weight: 300;
    transition: all 0.2s linear;
    cursor: pointer;
    width: 40%;
    text-align: center;
    color: #0D78D2;
    border: 1px solid #0D78D2;
    margin: 2% 3% 3% 0;
}

.buttonMethod:hover{
  color: white;
  background-color: #0D78D2;
  transition: none;
}

.buttonGroupMethod{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-top: 0.5em;
    align-items: center;
}

.items{
    margin: 0;
    padding: 0;
    color: #56CCF2;
    list-style-type: none;
    font-family: 'roboto';
    font-weight: 300;
    font-size: 0.8em;
    margin-bottom: 1em;

}

.files{
  margin-bottom: 0.3em;
}

.down{
  background-color: #0D78D2;
  border-radius: 50%;
  cursor: pointer;
}

.create{
  
  margin-right: 1em;
}
.miniButton{
      display: inline-flex;
    justify-content: flex-end;
    position: absolute;
    width: 30%;
    background-color: transparent;
    bottom: 20px;
    right: 25px;
}

